<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\qianfeng\code\code_3阶段\Day08_spring-mvc\spring-mvc-example02\src\main\java\com\smart\web\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>